@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');




.header-container {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.header-left {
    display: flex;
}

.header-right {
    display: flex;
}

.header-container h2 {
    margin: auto    ;
}

.header-container h1 {
    margin: auto;
}

.header-image {
    max-height: 80px;
}